uniform sampler2D furMaskMap;
uniform sampler2D textureMap;
uniform vec3 color;
uniform float offset;
uniform float textureDivde;

varying vec2 vUv;
varying vec3 vNormal;

void main() {
	vec4 furMask = texture2D(furMaskMap, vec2(vUv.s, vUv.t));
	vec4 texture = texture2D(textureMap, vec2(vUv.s * textureDivde, vUv.t * textureDivde / 2.0));
	
	// Discard by fur mask
	if (furMask.a <= 0.0 || furMask.g < offset) {
		discard;
	}
	
	// Darker towards bottom
	float shadow = mix(0.2, furMask.b * 1.2, offset);
	
	// Light
	vec3 light = vec3(0.5, 0.5, 0.5);
	float bright = max(0.8, dot(vNormal.xyz, light)) * 4.0;
	
	// Calculate color
	gl_FragColor = vec4(color * texture.xyz * bright * shadow, 1.1 - offset);
}
