<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>THE FUR</title>
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="icon" type="image/png" href="assets/img/favicon.png">
	<link rel="apple-touch-icon" type="image/png" href="assets/img/favicon.png">
	
	{{> ./parts/twitterMeta }}
	
	{{> ./parts/facebookMeta }}
	
</head>
<body>
	<div id="stage"></div>
	
	<div class="header">
		<div class="title-box clearfix">
			<div class="title">THE F<span class="red">U</span>R</div>
			<div class="sub-title">
				Make<br>
				Everything<br>
				Fluffy
			</div>
		</div>
		<div class="texture">
			<input id="textureInput" class="texture-input" type="file" accept="image/*">
		</div>
		<div class="facebook">
			<iframe src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fknt5.github.io%2Fdemo%2Ffur%2F&width=130&layout=button_count&action=like&size=small&show_faces=false&share=true&height=46&appId=1746302135643374" width="130" height="22" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
		</div>
	</div>
	
	<!--
	<div id="geometry" class="geometry">
		Model: <input id="geometryInput" type="file" accept=".obj,.fbx">
		<div>* .obj, .fbx</div>
	</div>
	-->
	
	<div id="datGui" class="dat-gui"></div>
	
	{{> ./parts/githubRibbon }}
	
	<script src="assets/js/lib/jquery.min.js?v=3.0.0"></script>
	<script src="assets/js/lib/three.min.js?v=r78"></script>
	<script src="assets/js/lib/dat.gui.min.js?v=0.5.1"></script>
	<script src="assets/js/lib/TrackballControls.min.js?commit=3aa961"></script>
	<script src="assets/js/lib/TeapotBufferGeometry.min.js?commit=01bc9f"></script>
	<script src="assets/js/lib/MegaPixImage.min.js?commit=eef75f"></script>
	
	<script type="x-shader/x-vertex" id="vertexShader">{{> ./vertexShader }}</script>
	<script type="x-shader/x-fragment" id="fragmentShader">{{> ./fragmentShader }}</script>
	
	<script src="assets/js/index.js" charset="UTF-8"></script>
	
	<script src="/assets/js/analytics.js"></script>
</body>
</html>
