/* =================== base =================== */

*, *::before, *::after {
	box-sizing: border-box;
}

body, img, dl, dt, dd, ol, ul, li {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	font-size: 14px;
	line-height: 1.4;
	-webkit-text-size-adjust: 100%;  /* for iOS Safari */
}

body, input, select, textarea, th, td {
	font-family: "Myriad Pro", "Lucida Grande", "GillSans", "Hiragino Kaku Gothic Pro", "Meiryo", "sans-serif";
}

h1 {
	text-align: center;
}

.clearfix::after {
	content: '';
	display: block;
	clear: both;
}

/* =================== style =================== */
body {
	position: relative;
	color: #fff;
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	padding: 12px 0 0 12px;
}

.title {
	font-size: 60px;
}

.facebook {
	
}

.texture {
	margin-top: 2px;
	padding-left: 14px;
}

.geometry {
	position: absolute;
	left: 0;
	bottom: 0;  /* js change this */
	margin-top: 18px;
	padding-left: 14px;
}

.datGui {
	position: absolute;
	left: 0;
	bottom: 27px;
	opacity: .9;
}

/* =================== style:media =================== */
@media (max-width: 768px) {
	.geometry {
		display: none;
	}
}

@media (max-width: 480px) {
	.github-ribbon {
		width: 80px;
		height: 80px;
	}
}
