<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Fur shader</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	
	
	
	
	
	
	
	
	
	<script type="x-shader/x-vertex" id="vertexShader">{{> vertexShader }}</script>
	<script type="x-shader/x-fragment" id="fragmentShader">{{> fragmentShader }}</script>
	
</body>
</html>
