<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<title>Fur shader</title>
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
	
	
	
	
	
	<script src="/js/lib/jquery.min.js?v=3.0.0"></script>
	<script src="/js/lib/three.min.js?v=r78"></script>
	<script src="/js/lib/dat.gui.min.js?v=0.5.1"></script>
	
	<script type="x-shader/x-vertex" id="vertexShader">{{> vertexShader }}</script>
	<script type="x-shader/x-fragment" id="fragmentShader">{{> fragmentShader }}</script>
	
	<script src="/js/index.js" charset="UTF-8"></script>
	
</body>
</html>
